--index-url https://download.pytorch.org/whl/cu118

torch==2.2.1 
torchvision==0.17.1 
numpy
opencv-python
albumentations
tqdm
scikit-learn
pandas
mlflow
matplotlib
mlflow
onnxruntime
onnxruntime-gpu
onnx